<nav id="navigationBar">
  <ul>
    <li>
      <a href="/" class="link">Home</a>
    </li>
    <li>
      <a href="/blogs" class="link">Blogs</a>
    </li>
    <li>
      <a href="/about" class="link">About</a>
    </li>
    <li>
      <a href="/blogs/create-blog" class="link">Create Blog</a>
    </li>
  </ul>
</nav>
