<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <div class="about-main">
      <h2 class="about-us-title">About us?</h2>
      <div class="about-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
        totam, sed nemo praesentium aut sequi et? Ratione, ex! Laborum nostrum
        maiores cupiditate vero ea aperiam unde repellendus illo? Nam,
        voluptatem?
      </div>

      <div class="about-metrics1"></div>
    </div>
    <%-include("./partials/footer.ejs") %>
  </body>
</html>
