<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/navbar.ejs") %>

    <div class="home-main">
      <div class="home-title">
        <h1 class="home-title-text">
          World's #1 Blogging site built for the people.
        </h1>
      </div>
      
      <div class="home-body">
        <p class="home-body-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste hic
          praesentium modi quisquam dignissimos, culpa voluptate alias ipsa quia
          eos voluptatum architecto ad laborum saepe cumque. Sed voluptates amet
          natus praesentium architecto dignissimos? Dolorem saepe temporibus
          ratione veniam consectetur, dicta voluptatem, voluptas perspiciatis
          modi doloremque quo repellat inventore maiores sint.
        </p>
      </div>
      <div class="home-body1">
        <p class="home-body-text1">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste hic
          praesentium modi quisquam dignissimos, culpa voluptate alias ipsa quia
          eos voluptatum architecto ad laborum saepe cumque. Sed voluptates amet
          natus praesentium architecto dignissimos? Dolorem saepe temporibus
          ratione veniam consectetur, dicta voluptatem, voluptas perspiciatis
          modi doloremque quo repellat inventore maiores sint.
        </p>
      </div>
      <div class="home-body">
        <p class="home-body-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste hic
          praesentium modi quisquam dignissimos, culpa voluptate alias ipsa quia
          eos voluptatum architecto ad laborum saepe cumque. Sed voluptates amet
          natus praesentium architecto dignissimos? Dolorem saepe temporibus
          ratione veniam consectetur, dicta voluptatem, voluptas perspiciatis
          modi doloremque quo repellat inventore maiores sint.
        </p>
      </div>
      <div class="home-body1">
        <p class="home-body-text1">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste hic
          praesentium modi quisquam dignissimos, culpa voluptate alias ipsa quia
          eos voluptatum architecto ad laborum saepe cumque. Sed voluptates amet
          natus praesentium architecto dignissimos? Dolorem saepe temporibus
          ratione veniam consectetur, dicta voluptatem, voluptas perspiciatis
          modi doloremque quo repellat inventore maiores sint.
        </p>
      </div>
    </div>

    <%-include("./partials/footer.ejs") %>
  </body>
</html>
